.head1 {
    
    display: flex;
    background-color: aqua;

    

}

.logo {
    
    width: 20%;
    margin: 20px 0px;
    font-size: 24px;
    justify-content: center;
    display: flex;
    

}
.links {
    width: 80%;
    margin-top: 20px;

    font-size: 18px;
    display: flex;
    
    margin-left: 150px;
    margin-right: 150px;
    flex-direction: row;
    
}
.logotext {
    justify-self: center;
    background-color: red;
}

